* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu,sans-serif;
    font-size: 4vw;
    color: white;
    background-color: #282c34;
    font-weight: 300;
}
