.List {
    margin: 0.4vh 2.7vw;
    width: 94.6vw;
    overflow-y: auto;
    flex-grow: 1;
}

.List table {
    border-collapse: collapse;
    border: 3px solid black;
    background-color: #500;
}

.List th,td {
    text-align: left;
    padding: 0.2em;
}

.List tbody tr:nth-child(odd) {
  background-color: #766;
}

.List tbody tr:nth-child(even) {
  background-color: #755;
}

.highlight {
    color: red;
}
