.Search {
    margin: 0.4vh 2.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search input {
    margin-left: 0.4em;
    font-size: 1em;
    flex-grow: 1;
}

.bad {
    color: red;
}
